<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
    <header>
        <div class="header-content">
            <h2>COMP 4513</h2>
            <h2>Assignment 2</h2>
        </div>
    </header>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="al@ace.ca">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="mypassword">
            <input type="submit" value="Login">
        </form>
        <% if (message) { %>
            <p class="error-message">
                <%= message %>
            </p>
            <% } %>
    </div>
</body>
<footer>
    <p>&copy; 2023 Double J Movie Database</p>
    <p>Jillian Bennett and Joel Conley.</p>
    <p><a href="https://github.com/Geordous-Huxwell/Web3-A2-node-API">Github Repo</a></p>
</footer>

</html>